<div class="underline-service"></div>

	<div class="row" id="what-row">
		<div class="text-team-box">
			<div class="text-digital">
				<div> <center> <h3 id="title-what">Vous êtes intéressé ?</h3></center><div>
					<center>Assurer sa présence sur internet nécessite un véritable travail de fond.<br>
						Que vous soyez un particulier ou un professionnel, la création de votre site internet, l’amélioration de votre positionnement passe par le bon choix de votre agence web.<br>
					Nous sommes des professionnels capable de répondre à tous vos besoins numériques.</p></center></div>
					<center> <a class="btn btn-primary" href="<%= new_contact_path %>">Nous contacter</a></center>
				</div>
			</div>
		</div>
	</div>
</div>