<div class="underline-service"></div>
		<div id="what-row" class="row mb-0">
		<div class="text-team-box">
			<div class="text-digital my-0">
				<div> <center><h3 id="title-what" class="my-4 py-0">Comparez nos deux solutions</h3></center><div>
				</div>
			</div>
		</div>
	</div>
</div>

<section class="pricing mt-0 pb-0">
  <div class="container-table">
    <div class="row justify-content-center mx-auto">

      <div class="col-lg-4">
        <div class="card mb-5 mb-lg-0">
          <div class="card-body bg-light">
            <h5 class="card-title text-muted text-uppercase text-center">Site pré-construit</h5>
            <hr>
            <ul class="fa-ul">
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Création site web</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Maintenance du site web</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Intégration de votre identité visuelle</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Fonctionnalités basiques</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Initialisation référencement Google</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Nom de domaine (www.votresociété.fr)</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Adresse mail 10 max. (exemple@votresociété.fr)</li>
              <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Design sur mesure</li>
              <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Fonctionnalités complexes</li>
            </ul>
             <a href="<%= prebuilt_website_path %>" class="btn btn-block btn-primary text-uppercase">En savoir plus</a>
          </div>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="card mb-5 mb-lg-0">
          <div class="card-body bg-light">
            <h5 class="card-title text-muted text-uppercase text-center">Site sur mesure</h5>
            <hr>
                        <ul class="fa-ul">
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Création site web</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Maintenance du site web</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Intégration de votre identité visuelle</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Fonctionnalités basiques</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Initialisation référencement Google</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Nom de domaine (www.votresociété.fr)</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Adresse mail 10 max. (exemple@votresociété.fr)</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Design sur mesure</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Fonctionnalités complexes</li>
            </ul>
            <a href="<%= custom_website_path %>" class="btn btn-block btn-primary text-uppercase">En savoir plus</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>