
<!-- Carousel -->

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
<!-- <ol class="carousel-indicators">
<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
</ol> -->
<div class="carousel-inner" role="listbox">
<!-- Slide One - Set the background image for this slide in the line below -->
<div id="item-1" class="carousel-item active" style="background-image: url('https://images.pexels.com/photos/380769/pexels-photo-380769.jpeg?w=1920')" alt="Photo agence web mercadev">
<div class="carousel-caption">
<h3 class="display-4">L'agence</h3>
<p class="lead">Création de site internet, référencement et marketing digital en Aquitaine</p>
</div>
</div>
</div>
</div>

<!-- text content -->
<div id="intro-text">
Située à Bordeaux, en Aquitaine, Mercadev est une agence web et de marketing digital.<br>
Axés sur les TPE, PME, artisans, commerçants, professions libérales, nous mettons en œuvre des solutions de marketing digital adaptées à votre activité et à vos besoins : site internet, charte graphique, logo, stratégie digitale...<br>
Nous travaillons sur le webdesign, le référencement, le marketing digital, et la communication via les réseaux sociaux.
<!-- 		          <a class="btn btn-primary" href="<%= new_contact_path %>">Nous contacter</a> -->
</div>

<!-- Page card team content -->
<div class="row" id="team-row">
<div class="text-team-box">
<div class="text-team">
<h3 id="agency-title">Notre équipe</h3>
<div id=hr-agency style="width: 130px;"></div>
<p>Avec plusieurs années d'expérience dans le design, le développement informatique, la gestion de projet et le marketing digital, notre équipe possède l'ensemble des compétences pour booster votre visibilité sur internet.<br>
Proches de nos clients, nous mettons tout en oeuvre afin de satisfaire vos demandes dans les meilleurs délais.</p>
</div>
</div>
</div>

<!-- Digital Card -->
<div class="row" id="digital-row">
<div id="logo-digital-card"><i class="fas fa-desktop fa-4x"></i></div>
<div class="text-team-box">
<div class="text-digital">
<div id="title-card"> <center> <h3 id="digital-title">Maîtrise du digital</h3></center><div>
<p class="card-text">
Dernières innovations en matière de création de site internet, stratégie digitale, design, visibilité sur le web grâce au référencement (SEO), laissez notre équipe prendre en charge votre image dans un monde numérique en constante transformation.</p>
</div> </div> </div>
</div>
</div>

<div class="row" id="digital-row">
<div id="logo-digital-card"><i class="fas fa-pencil-alt fa-4x"></i></div>
<div class="text-team-box">
<div class="text-digital">
<div id="title-card"> <center> <h3 id="digital-title">Créativité</h3></center><div>
<p class="card-text">
Face à vos concurrents, il est essentiel de dégager une image forte et valorisante de votre entreprise.<br>
Notre équipe créative vous aide à vous démarquer avec une identité qui marque vos clients.</p>
</div> </div> </div>
</div>
</div>

<div class="row" id="digital-row">
<div id="logo-digital-card"><i class="fas fa-users fa-4x"></i></div>
<div class="text-team-box">
<div class="text-digital">
<div id="title-card"> <center> <h3 id="digital-title">à l'écoute</h3></center><div>
<p class="card-text">
Commençons par mieux connaître votre métier ainsi que vos besoins.<br>
Prenons en compte les spécificités de votre entreprise et de vos clients.<br>
Identifions votre clientèle, ses attentes, mais aussi ses craintes.</p>
</div> </div> </div>
</div>
</div>

<div class="row" id="what-row">
<div class="text-team-box">
<div class="text-digital">
<div> <center> <h3 id="title-what">Que pouvons-nous faire pour vous ?</h3></center><div>
<p>
Quelle que soit votre activité, il est aujourd'hui primordial d'avoir une identité visuelle unique afin de séduire vos prospects dès le premier coup d’œil. « La première impression est souvent la bonne ». Vous devez impacter les esprits pour qu’un client potentiel choisisse votre offre plutôt que celle du voisin.</p>
<p>Notre métier chez Mercadev consiste à vous créer une image unique, reconnaissable et percutante. Votre vitrine doit refléter votre professionnalisme et inspirer confiance.</p>
<p>Mercadev participe à tout le processus créatif et met à votre service son équipe spécialiste de la communication pour vous conseiller. Grâce à nos compétences dans le référencement naturel sur Internet, nous incluons les éléments clés de votre communication sur le web.</p>
<p>Mercadev met l’accent sur l’écoute du client, car c'est le plus à même de fixer la feuille de route. Nous travaillons avec vous afin de cerner tous les points qui serviront à bâtir votre identité sur Internet.</p>
<p>L’équipe de graphistes et de webdesigners de Mercadev travaille ensuite sur une offre sur mesure et valorisante pour votre entreprise. Une fois votre identité visuelle établie, nous la déclinons sur tous les supports dont vous allez avoir besoin : Internet, flyers, cartes de visite, kakémonos, affichage grand format… Notre équipe reste toujours à votre disposition pour travailler avec vous sur votre stratégie digitale, pour améliorer votre référencement naturel, développer votre audience et multiplier vos clients potentiels.</p>
<p>Parce que nous connaissons les contraintes et les impératifs des entreprises, nous donnons une importance capitale à être parfaitement scrupuleux quant au respect du cahier des charges, du budget et des délais.
</p>
</div> </div> </div>
</div>
</div>
