
<!-- Carousel -->
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
	<!-- <ol class="carousel-indicators">
	<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
	<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
	<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
</ol> -->
<div class="carousel-inner" role="listbox">
	<!-- Slide One - Set the background image for this slide in the line below -->
	<div id="item-1" class="carousel-item active" style="background-image: url('https://images.pexels.com/photos/574077/pexels-photo-574077.jpeg?w=1920')" alt="Photo agence web mercadev">
		<div class="carousel-caption">
			<h3 class="display-4">Marketing Digital</h3>
			<p class="lead">Ce que nous pouvons faire pour vous...</p>
		</div>
	</div>
</div>
</div>
</div>

<!-- Page card content -->
<!-- Card content 3-->
<div class="row" id="service-row">
	<div class="img-agency"> 
		<img class="img-fluid rounded" src="https://images.pexels.com/photos/1893610/pexels-photo-1893610.jpeg?w=500" alt="Agence web bordeaux mercadev création site web">
	</div>
	<div class="text-service-box">
		<div class="text-service">
			<h3 id="service-title">Campagnes Marketing</h3>
			<p>Mercadev vous accompagne pour créer et lancer des campagnes ciblées et personnalisées en fonction de vos cibles.<br>
			Cette technique de marketing digital est très efficace pour attirer vos potentiels clients vers votre site web grâce à du contenu de qualité et en phase avec leurs habitudes de consomation.</p>
		</div>
	</div>
</div>

<div class="underline-service"></div>

	<!-- Card content 2-->
	<div class="row" id="service-row-r">
		<div class="img-agency"> 
			<img class="img-fluid rounded" src="https://images.pexels.com/photos/607812/pexels-photo-607812.jpeg?w=500" alt="Agence web bordeaux mercadev création animation réseaux sociaxu Facebook Instagram Snapchat">
		</div>
		<div class="text-service-box">
			<div class="text-service">
				<h3 id="service-title">Réseaux sociaux</h3>
				<p>Afin d'étendre et de fidéliser votre clientèle, nous pouvons développer votre visibilité sur les réseaux sociaux.<br>
				Nous proposons de créer et animer votre page Facebook et/ou votre compte Instagram.</p>
			</div>
		</div>
	</div>
	<!-- /.row -->

<%= render "static_pages/interest" %>
