
<!-- Carousel -->
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
	<!-- <ol class="carousel-indicators">
	<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
	<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
	<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
</ol> -->
<div class="carousel-inner" role="listbox">
	<!-- Slide One - Set the background image for this slide in the line below -->
	<div id="item-1" class="carousel-item active" style="background-image: url('https://images.pexels.com/photos/574077/pexels-photo-574077.jpeg?w=1920')" alt="Photo agence web mercadev">
		<div class="carousel-caption">
			<h3 class="display-4">Création de site web pré-construit</h3>
			<p class="lead">Pour minimiser les frais de développement</p>
		</div>
	</div>
</div>
</div>
</div>

<!-- Page card content -->
<!-- Card content 1-->
<div class="row" id="service-row">
	<div class="img-agency"> 
		<img class="img-fluid rounded" src="https://images.pexels.com/photos/326514/pexels-photo-326514.jpeg?w=500" alt="Agence web bordeaux mercadev création site web">
	</div>
	<div class="text-service-box">
		<div class="text-service">
			<h3 id="service-title">Utilisation de nos templates</h3>
			<p>Afin de réduire les coûts et le temps de développement, nous vous proposons d'utiliser nos templates.<br>
				Mercadev a crée des templates design et responsive qui permettent de diminuer le temps de développement en minimisant la personnalisation.</p>
		</div>
	</div>
</div>

<div class="underline-service"></div>

<!-- Card content 2-->
<div class="row" id="service-row-r">
	<div class="img-agency"> 
		<img class="img-fluid rounded" src="https://images.pexels.com/photos/259714/pexels-photo-259714.jpeg?w=500" alt="Agence web bordeux mercadev boutique en ligne site ecommerce">
	</div>
	<div class="text-service-box">
		<div class="text-service">
			<h3 id="service-title">Possibilité de personnaliser votre template</h3>
			<p>Avec nos templates, nous limitons la personnalisation pour réduire le développement.</p>
			<p>Cependant, vous pouvez personnaliser nos templates avec vos logos, couleurs et polices d'écritures</p>
			</div>
		</div>
	</div>

	<div class="underline-service"></div>

	<!-- Card content 3-->
	<div class="row" id="service-row">
		<div class="img-agency"> 
			<img class="img-fluid rounded" src="https://images.pexels.com/photos/1148820/pexels-photo-1148820.jpeg?w=500" alt="Agence web bordeaux mercadev hébergement et maintenance serveur sécurié.">
		</div>
		<div class="text-service-box">
			<div class="text-service">
				<h3 id="service-title">Hébergement et maintenance</h3>
				<p>Votre site sera hébergé sur un serveur sécurisé.<br>Nous assurons une maintenance afin que votre site soit le plus performant possible.</p>
			</div>
		</div>
	</div>

 <!--
	<div class="underline-service"></div>
		<div id="what-row" class="row mb-0">
		<div class="text-team-box">
			<div class="text-digital my-0">
				<div> <center><h3 id="title-what" class="my-4 py-0">Comparez nos deux solutions</h3></center><div>
				</div>
			</div>
		</div>
	</div>
</div>

<section class="pricing mt-0 pb-0">
  <div class="container-table">
    <div class="row justify-content-center mx-auto">

      <div class="col-lg-4">
        <div class="card mb-5 mb-lg-0">
          <div class="card-body bg-light">
            <h5 class="card-title text-muted text-uppercase text-center">Site pré-construit</h5>
            <hr>
            <ul class="fa-ul">
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Single User</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>5GB Storage</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Unlimited Public Projects</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Community Access</li>
              <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Unlimited Private Projects</li>
              <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Dedicated Phone Support</li>
              <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Free Subdomain</li>
              <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Monthly Status Reports</li>
            </ul>
             <a href="<%= prebuilt_website_path %>" class="btn btn-block btn-primary text-uppercase">En savoir plus</a>
          </div>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="card mb-5 mb-lg-0">
          <div class="card-body bg-light">
            <h5 class="card-title text-muted text-uppercase text-center">Site sur mesure</h5>
            <hr>
            <ul class="fa-ul">
              <li><span class="fa-li"><i class="fas fa-check"></i></span><strong>5 Users</strong></li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>50GB Storage</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Unlimited Public Projects</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Community Access</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Unlimited Private Projects</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Dedicated Phone Support</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Free Subdomain</li>
              <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Monthly Status Reports</li>
            </ul>
            <a href="<%= custom_website_path %>" class="btn btn-block btn-primary text-uppercase">En savoir plus</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
-->

	<div class="underline-service"></div>

	<div class="row" id="what-row">
		<div class="text-team-box">
			<div class="text-digital">
				<div> <center> <h3 id="title-what">Vous êtes intéressé ?</h3></center><div>
					<center>Assurer sa présence sur internet nécessite un véritable travail de fond.<br>
						Que vous soyez un particulier ou un professionnel, la création de votre site internet, l’amélioration de votre positionnement passe par le bon choix de votre agence web.<br>
					Nous sommes des professionnels capable de répondre à tous vos besoins numériques.</p></center></div>
					<center> <a class="btn btn-primary" href="<%= new_contact_path %>">Nous contacter</a></center>
				</div>
			</div>
		</div>
	</div>
</div>
