
<!-- Carousel -->
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
	<!-- <ol class="carousel-indicators">
	<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
	<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
	<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
</ol> -->
<div class="carousel-inner" role="listbox">
	<!-- Slide One - Set the background image for this slide in the line below -->
	<div id="item-1" class="carousel-item active" style="background-image: url('https://images.pexels.com/photos/574077/pexels-photo-574077.jpeg?w=1920')" alt="Photo agence web mercadev">
		<div class="carousel-caption">
			<h3 class="display-4">Référencement Google</h3>
			<p class="lead">Ameliorez votre visibilité sur le web</p>
		</div>
	</div>
</div>
</div>
</div>

<!-- Page card content -->
<!-- Card content 1-->
<div class="row" id="service-row">
	<div class="img-agency"> 
		<img class="img-fluid rounded" src="https://images.pexels.com/photos/67112/pexels-photo-67112.jpeg?w=500" alt="Agence web bordeux mercadev boutique en ligne site ecommerce">
	</div>
	<div class="text-service-box">
		<div class="text-service">
			<h3 id="service-title">Référencement naturel Google</h3>
			<p>Nous appliquons un plan SEO* à partir de mots-clés et de liens afin de faire apparaitre votre boutique en tête de liste sur Google.<br>
				<i>*Search Engine Optimization : ensemble de techniques visant à optimiser la visibilité d'une page web dans les résultats de recherche</i></p>
			</div>
		</div>
	</div>

	<div class="underline-service"></div>

	<!-- Card content 1-->
<div class="row" id="service-row-r">
	<div class="img-agency"> 
		<img class="img-fluid rounded" src="https://images.pexels.com/photos/33972/pexels-photo.jpg?w=500" alt="Agence web bordeux mercadev boutique en ligne site ecommerce">
	</div>
	<div class="text-service-box">
		<div class="text-service">
			<h3 id="service-title">Référencement payant Google</h3>
			<p>Nous vous accompagnerons lors de la création de votre plan de référencement payant. A partir d'enchères sur des mots-clés, Google fera apparaitre votre boutique en tête de liste.</p>
			</div>
		</div>
	</div>

<%= render "static_pages/interest" %>
