
<!-- Carousel -->
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
	<!-- <ol class="carousel-indicators">
	<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
	<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
	<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
</ol> -->
<div class="carousel-inner" role="listbox">
	<!-- Slide One - Set the background image for this slide in the line below -->
	<div id="item-1" class="carousel-item active" style="background-image: url('https://images.pexels.com/photos/748781/pexels-photo-748781.jpeg?w=1920')" alt="Photo agence web mercadev">
		<div class="carousel-caption">
			<h3 class="display-4">Bornes tactile</h3>
			<p class="lead">Créez une expérience utilisateur unique</p>
		</div>
	</div>
</div>
</div>
</div>

<!-- Page card content -->

<!-- Card content 1-->
<div class="row" id="service-row">
	<div class="img-agency"> 
		<img class="img-fluid rounded" src="https://images.pexels.com/photos/286565/pexels-photo-286565.jpeg?w=500" alt="Agence web bordeux mercadev boutique en ligne site ecommerce">
	</div>
	<div class="text-service-box">
		<div class="text-service">
			<h3 id="service-title">Créez une expérience unique</h3>
			<p>Que ce soit pour l’intérieur ou l’extérieur, les bornes tactile sont conçues pour augmenter le confort client et mieux gérer les flux de consommateurs lors des heures de grande affluence.</p>
			</div>
		</div>
	</div>

	<div class="underline-service"></div>

<!-- Card content 2-->
<div class="row" id="service-row-r">
	<div class="img-agency"> 
		<img class="img-fluid rounded" src="https://images.pexels.com/photos/259714/pexels-photo-259714.jpeg?w=500" alt="Agence web bordeux mercadev boutique en ligne site ecommerce">
	</div>
	<div class="text-service-box">
		<div class="text-service">
			<h3 id="service-title">Personnalisation</h3>
			<p>La possibilité de personnaliser les bornes permet d'optimiser l'expérience de votre client dans votre boutique.</p>
			</div>
		</div>
	</div>

	<div class="underline-service"></div>

	<!-- Card content 3-->
<div class="row" id="service-row">
	<div class="img-agency"> 
		<img class="img-fluid rounded" src="https://images.pexels.com/photos/33972/pexels-photo.jpg?w=500" alt="Agence web bordeux mercadev boutique en ligne site ecommerce">
	</div>
	<div class="text-service-box">
		<div class="text-service">
			<h3 id="service-title">Polyvalence</h3>
			<p>L'ensemble de nos bornes ont été conçues pour s’adapter à de nombreux secteurs d’activité, tel que : la restauration rapide, l’hôtellerie, les loisirs, le commerce de détail, les cinémas, la pharmacie et les soins de santé.</p>
			</div>
		</div>
	</div>

	<div class="underline-service"></div>

	<div class="row" id="what-row">
		<div class="text-team-box">
			<div class="text-digital">
				<div> <center> <h3 id="title-what">Vous êtes intéressé ?</h3></center><div>
					<center>Assurer sa présence sur internet nécessite un véritable travail de fond.<br>
						Que vous soyez un particulier ou un professionnel, la création de votre site internet, l’amélioration de votre positionnement passe par le bon choix de votre agence web.<br>
					Nous sommes des professionnels capable de répondre à tous vos besoins numériques.</p></center></div>
					<center> <a class="btn btn-primary" href="<%= new_contact_path %>">Nous contacter</a></center>
				</div>
			</div>
		</div>
	</div>
</div>
