
<!-- Carousel -->
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
<!-- <ol class="carousel-indicators">
<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
</ol> -->
<div class="carousel-inner" role="listbox">
	<!-- Slide One - Set the background image for this slide in the line below -->
	<div id="item-1" class="carousel-item active" style="background-image: url('https://images.pexels.com/photos/6337/light-coffee-pen-working.jpg?w=1920')" alt="Photo agence web mercadev">
		<div class="carousel-caption d-none d-md-block">
			<h3 class="display-4">Contact</h3>
			<p class="lead">Vous avez un projet ? Parlons-en ensemble !</p>
		</div>
	</div>
</div>
</div>

<!-- Contact form -->
<div>
	<h3 id="top-text"><center>Votre message a été envoyé avec succès.</h3>
		<p><center>Nous avons bien reçu votre message et nous allons y répondre le plus rapidement possible.<br><br><br>
		Vous pouvez également nous contacter à l'adresse suivante :</center></p>
		<p><center id="contact-mail">contact@mercadev.fr</p>
		</div>