
<div>
	<h3 id="top-text"><center>Votre message a été envoyé avec succès.</h3>
		<p><center>Nous avons bien reçu votre message et nous allons y répondre le plus rapidement possible.<br><br><br>
		Vous pouvez également nous contacter à l'adresse suivante : <%=@youpi%></center></p>
		<p><center id="contact-mail">contact@mercadev.fr</p>
		</div>