// Place all the styles related to the Contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.form-row{
	margin-top:2%;
	margin-bottom:2%;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	flex: 1;
}

.btn-form-row{
	justify-content: center;
	width: 40%;
	margin-left: auto;
	margin-right: auto;
}

#map{
	margin-top: 4%;
	margin-bottom: 4%;
}
