// Place all the styles related to the Contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.form-row{
	margin-top:2%;
	margin-bottom:2%;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	flex: 1;
}

.btn-form-row{
	justify-content: center;
	width: 40%;
	margin-left: auto;
	margin-right: auto;
}


.btn-primary {
	background-color:var(--m-light-green);
	border-color: var(--m-light-green);
}

.btn-primary:hover {
	background-color:var(--m-orange);
	border-color: var(--m-orange);
}

.btn-primary:focus {
	background-color:var(--m-orange);
	border-color: var(--m-orange);
}
#send_btn:active {
	background-color:var(--m-orange);
	border-color: var(--m-orange);
}

#map{
	margin-top: 4%;
	margin-bottom: 4%;
}

#error_explanation {
	width: 70%;
	background-color: rgba(235, 47, 6, 0.2);
	color: #eb2f06;
	padding: 1rem;
	text-align: center;
	border-radius: 5px;
	margin-right: auto;
	margin-left: auto;
}
